
.canvas{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.selection, .options, .output{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px;
    padding: 20px;
}

.options {

}
button {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    font-size: 150px;
    cursor: pointer;

}

button:hover{
    background-color: #999999;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}