body {
    background-color: #018ABE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
}
.canvas{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #02457A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.selection, .options, .output{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px;
    padding: 20px;
}

.runGame {
    margin-top: 7%;
}

.playerSelection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px solid #018ABE;
    background-color: #018ABE;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.displaySelection{
    font-size: 100px;
}
.options button {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    font-size: 150px;
    cursor: pointer;
    text-align: center;
    background-color: #001B4B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #018ABE;
}

.runGame button {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #001B4B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
}

button:hover{
    background-color: #01BABE;   
}

button:active {
    
    transform: translateY(4px);
}

.output{
    height: 100px;
    border: 1px solid #018ABE;
    background-color: #018ABE;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}